{{ define "main" }}
<div class="container">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="page-content">
        {{ . }}
      </div>
    {{ end }}
  </header>

  {{ $pages := .Pages.ByDate.Reverse }}
  {{ if $pages }}
    {{ range $pages.GroupByDate "2006" }}
    <div class="list-group">
      <h2 class="list-group-heading">{{ .Key }}</h2>
      <ul class="list-group-entries">
        {{ range .Pages }}
        <li class="list-group-entry">
          <div>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- with .Params.tags }}
            <div class="compact-post-taxonomies">
              {{- range . -}}
                <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" class="compact-post-taxonomy compact-post-tag">{{ . }}</a>
              {{- end -}}
            </div>
            {{- end }}
          </div>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  {{ else }}
    <p>No TILs yet. Check back soon.</p>
  {{ end }}
</div>
{{ end }}